
@media(max-width: 480px){
    .section-1-home{
    display: flex;
    display: none;
    }

    .section-2-home{
    width: 100vw;
    } 

    

    
}

.section-1-home{
  position: sticky;
    top: 1px;
}

.container-desktop{
    
}

@media(min-width:575px){
    
    .container-desktop{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 25px;
    } 

    .main-home{
        
    }
}
